
.min-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 12px 4px 24px rgba(0, 0, 0, 0.0647645);
	padding: 11px 0 ;
	z-index: 20;
}